@model IEnumerable<Quoteversation.Web.ViewModels.Home.IndexConversationViewModel>
@{
    ViewBag.Title = "Home Page";
}

<h2>Welocome to <em><strong>Quoteversation!</strong></em></h2>
<br />
<br />
<h3><em>Most recent conversations:</em></h3>
@Html.Action("CachedConversations")
