@model Quoteversation.Web.ViewModels.Tags.TagViewModel
<span class="label label-default">
    @Html.ActionLink(@Model.Name, "ById", "Tags", new { id = @Model.Id }, new { style = "color: inherit" })
</span>