@model Quoteversation.Web.ViewModels.Tags.AllTagsViewModel
@{
    ViewBag.Title = "All";
}

<h2>All tags</h2>

<h2></h2>

@using (Ajax.BeginForm("Search", null,
    new AjaxOptions
    {
        UpdateTargetId = "result-tags",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST"
    }, new { id = "searchForm" }))
{
    <div class="row">
        <div class="col-md-3">
            <input type="text" name="query" oninput="changed()" class="form-inline form-control" autocomplete="off" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}
<script>
    function changed() {
        $("#searchForm").submit();
    }
</script>

<br />
<div id="result-tags">
    @Html.Partial("_TagsResult", this.Model, new ViewDataDictionary { { "convId", ViewBag.ConvId } } )
</div>